:root {
  --main-bg-color: #c4edd6;
  /* --header-bg-color: #63da96; */
  --header-bg-color: #548769;
  --main-card-bg-clr: rgb(252, 251, 247);
  --card-bg-accent-clr: rgb(238, 238, 238);
  --main-card-bg-clr-hover: #c3c4c3;
  --main-color: #a3c6b3;
  --main-accent-color: #52b788;
  --clr-btn-alert: rgb(228, 53, 0);
  --clr-btn-alert-hover: rgb(197, 49, 3);
  --clr-btn-alert-minor: #d85910;
  --clr-btn-alert-minor-hover: rgb(197, 46, 0);
  --clr-btn: #338f5d;
  --clr-btn-on-header: #1a442d;
  --clr-btn-old: rgb(54, 54, 54);
  --clr-btn-hover: #276945;
  --clr-btn-hover-old: rgb(187, 187, 187);
  --clr-btn-active: #355242;
  --clr-background: rgb(255, 255, 255);
  --clr-text: rgb(24, 24, 24);
  --clr-text-header: rgb(247, 247, 247);
  --clr-icon-back-to-map: rgb(226, 255, 226);

  --clr-green-base: #99d4b2;
  --clr-green-darker: #548769;
  --clr-green-warmer: #ccd6a7;
  --clr-orange-contrast: #fabd35;
  --clr-blue-contrast: #74a8d6;

  --font-main-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-header: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}
::selection {
  background-color: var(--header-bg-color);
  color: var(--clr-text-header);
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--clr-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
