:root {
  --main-bg-color: snow;
  --main-color: #a3c6b3;
  --main-accent-color: #52b788;
  --clr-btn-alert: rgb(252, 59, 0);
  --clr-btn-alert-minor: rgb(248, 120, 81);
  --clr-btn: rgb(54, 54, 54);
  --clr-btn-hover: rgb(187, 187, 187);
  --clr-btn-active: rgb(0, 0, 0);
  --clr-background: white;
  --clr-text: black;
  --clr-icon-back-to-map: rgb(226, 255, 226);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
